

.content{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.aside-left-content{
    width: 250px;
    height: 100%;
    background-color:#4EAD84;
}
.todo-list{
    width: calc(100% - 350px);
    height: calc(100% - 150px);
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    overflow-y: auto;
    
}
.overdue{
    margin-top: 10px;
    border-bottom: 1px solid;
}
ul{
    margin-top: 10px;
    list-style-type: none;
}
.due-content{
    border-bottom: 1px solid;
    /* height: 50px; */
    max-height: 150px;
    margin-bottom: 10px;
}
.due-item{
    display: flex;
    margin-left: 40px;
    font-weight: bolder;
}
.due-item:hover{
    color: orange;
}
.date{
    margin-left: 40px;
    font-size: 12px;
    color: red;
}
.btn-primary{
    margin-left: 10px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid;
    outline: none;
}
.add-due{
    cursor: pointer;
    width: 100px;
    height: 50px;
}
.add-due:hover{
    color: red;
}
.menu-bar{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    align-items: center;
}
.main-page{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    align-items: center;
}
.search-box{
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    border: 1px solid transparent;
    padding: 5px;
    background-color: hsla(0,0%,100%,.2);
}
.search-content{
    border:none ;
    background-color: hsla(0,0%,100%,.2);
    outline: none;
}
.today{
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;
    width: calc(100% - 60px);
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
}
.today:hover{
    background-color: white;
}
.today >h1{
    margin-left: 5px;
}
#task{
    width: calc(100% - 10px);
    height: 50px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid gray;
}
.add{
    width: 75px;
    height: 30px;
    background-color: green;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.cancel{
    width: 75px;
    height: 30px;
    background-color: red;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    color: white;
    font-weight: bold;
}
.add-task-block{
    /* chỉnh lại display */
    display: none;
}
.add:disabled{
    background-color: #5F5F5F;
}
label{
    margin-left: 20px;
    }
    #datepicker{
    width:180px; 
    margin: 0 20px 20px 20px;
    }
    #datepicker > span:hover{
    cursor: pointer;
    }
.add-block{
    display: flex;
}
.back{
    display: none;
    cursor: pointer;
    margin-right: 20px;
}
.back:hover{
    color: red;
}
.view-question{
    margin-left: 40px;
    font-size: 15px;
    padding: 2px;
}
.view-question:hover{
    color: orange;
}
.answer-A{
    font-weight: bolder;
}
.due01{
    margin-bottom: 3px;
}
.subject-list{
    display: flex;
    /* justify-content: space-between; */
}
.subject-block{
    margin-left: 20px;
}
.btn-choose{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: turquoise;
    margin-right: 10px;
    border: 1px solid black;
    outline: none;
}
.btn-choose:hover{
    cursor: pointer;
}
.trans-choice{
    display: flex;
    width: 10px;
    transition: width 1s;
}
.trans-choice:hover{
    width: 300px;
}
.choice{
    display: flex;
    transition: width 1s;
    opacity: 0;
}
